body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
    color: #5C5B5B;
}

.grid-div {
    text-align: center;
}

.orderDiv {
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 2% auto;
    width: 80%;
    height: 12%;
    cursor: pointer;
    line-height: 30px;
    background: cornflowerblue;
}

.orderDiv:active {
    background: darkblue;
    color: white;
}